<article
  class="product"
  [ngClass]="{ selected: product.selected }"
  (click)="handleClick()"
>
  <div>{{ product.title }}</div>
  <div>{{ product.desc }}</div>
  <div>{{ product.price }}</div>
</article>
