<section class="wrapper">
  <form #novalidate #authForm="ngForm" (submit)="handleSubmit()">
    <input
      type="email"
      name="email"
      required
      email
      [(ngModel)]="user.email"
      #email="ngModel"
      placeholder="Votre email"
    />
    <input
      type="password"
      name="password"
      required
      minlength="8"
      [(ngModel)]="user.pass"
      #pass="ngModel"
      placeholder="Votre mot de passe"
    />
    <button type="submit" [disabled]="!authForm.form.valid">Connect</button>
  </form>
</section>
