.wrapper {
  box-sizing: border-box;
  width: 200px;
  margin: 1rem auto 0;
}

.wrapper input {
  display: block;
  color: black;
  padding: 0 0 0.2rem;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px;
  width: 100%;
  margin: 0 0 2rem;
  outline: none;
}

.wrapper button {
  color: white;
  background: black;
  padding: 1rem 0;
  display: block;
  width: 100%;
}
